* {
    margin: 0;
    padding: 0;
}

.Background {
    background-image: url('peak.jpg');
}

.parent {
    display: flex;
    flex-direction: row;
}

.info {
    width: 50%;
    color: #ffffff;
    padding-top: 150px;
    }

.heading {
    font-size: 54px;
}

.page {
    font-size: 18px;
}


.sign up {
    width: 50%;
}
.try {
    font-size: 18px;
    padding: 15px;
    color: #ffffff;
    background-color: purple;
    border-radius: 10px;
    margin-bottom: 15px;
}
.block {
    display:block;
    width: 95%;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 10px;
}
.terms {
    font-size: 12px;
    text-align: center;
}
.green {
    background: #37cc8a;
    display: block;
    width: 100%;
    margin: 5px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}
.form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
}
.info,
.sign up {
    margin: 5%;
}
.con {
    color: red;
}